/* General body styling */
body {
    margin: 0;
    background-image: url('space_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    filter: brightness(100%);
}

/* White rectangle styling */
#white-rectangle {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 8px 0 8px -5px rgba(0, 0, 0, 0.5), inset -8px 0 8px -5px rgba(0, 0, 0, 0.5);
    width: calc(8.5 * 96px); /* 1 inch = 96 CSS pixels */
    height: calc(11 * 96px);
    max-width: calc(90vw);
    max-height: calc(90vh);
    position: relative;
    overflow: auto;
    overflow-x: hidden; /* Add this line to prevent horizontal scrolling */
}


/* Center Image styling */
.center-image {
    display: block;
    width: 85%;
    max-width: 80%;
    margin: auto auto;
    object-fit: contain;
}

/* Bottom-Left Image styling */
.bottom-left-image {
    float: left;
    width: 40%;
    max-width: 100%;
    margin-left: 5%;
    object-fit: contain;
    margin-bottom: 5%;
    object-fit: contain;
}

/* Bottom - RightImage styling */
.bottom-right-image {
    float: left;
    width: 40%;
    max-width: 100%;
    margin-right: 5%;
    object-fit: contain;
    margin-bottom: 5%;
    margin-left: 10%;
    object-fit: contain;
}


/* Title styling */
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}

/* Subtitle styling */
.subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

/* Paragraph styling */
p {
    text-indent: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 1.5;
}

/* Image description styling */
.image-description {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    margin-bottom: 5%;
}

/* Authors and date styling */
.authors,
.date {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

/* Next and Previous buttons container */
.nav-buttons-container {
    position: relative;
    bottom: 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

/* Navigation buttons styling */
#prev-button,
#next-button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 5px;
    cursor: pointer;
}

/* Previous button positioning */
#prev-button {
    position: relative;
    bottom: 3%;
    left: 5%;
    text-align: left;
}

/* Next button positioning */
#next-button {
    position: relative;
    bottom: 3%;
    right: 5%;
    text-align: right;
}

/* Citation styling */
.citation {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-style: italic;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


/* Add media queries for different screen sizes */
@media (max-width: 1200px) {
    #white-rectangle {
        width: calc(7.5 * 96px);
        height: calc(10 * 96px);
    }
}

@media (max-width: 992px) {
    #white-rectangle {
        width: calc(6.5 * 96px);
        height: calc(9 * 96px);
    }
}

@media (max-width: 768px) {
    #white-rectangle {
        width: calc(5.5 * 96px);
        height: calc(8 * 96px);
    }
}

@media (max-width: 576px) {
    #white-rectangle {
        width: calc(4.5 * 96px);
        height: calc(7 * 96px);
    }
}